* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.7;
    font-family: 'Times New Roman', Times, serif;
}

header {
    background: linear-gradient(rgba(103, 168, 230, 0.8), rgb(54, 135, 228)), url('./image/kids-1093758.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}



.top-nav {
    padding: 10px 0;
}

.top-nav p {
    margin-right: 15px;
}



.top-nav a {
    margin-right: 15px;
}

.top-nav::after {
    content: "";
    position: absolute;
    width: 96%;
    height: 1px;
    background-color: #95a2c9;
    margin: 10px 0;
}


.navbar-brand {
    font-weight: 700;
    font-size: 26px;
}



.middle {
    height: 80vh;
    width: 50%;
}

.middle h1 {
    font-size: 40px;
}

/* ----------------End------------------ */

/*--------- section-------- */
section {
    padding-top: 100px;
    padding-bottom: 100px;
}


#browse .card-effect {
    padding: 20px;
}

.iconbox {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: rgb(0, 174, 255);
    font-size: 30px;
    border-radius: 100px;
    margin: 0 10px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/*--------- End-------- */

/*--------- section-------- */
#become-an-Ins {
    width: 100%;
    height: 100vh;
}

#become-an-Ins .po {
    background-color: rgba(140, 179, 218, 0.1);
    width: 100%;
    height: 90vh;
}

#become-an-Ins .image {
    width: 400px;
    height: 100px;
}

#become-an-Ins .po .text p {
    width: 350px;
}

.start-75 {
    left: 75% !important;
}

.start-10 {
    left: 10% !important;
}

#become-an-Ins .middle {
    height: 70vh;
    width: 30%;
    justify-content: flex-start;
}

/*--------- End-------- */

/*--------- section-------- */


#Education {
    background: linear-gradient(rgba(41, 122, 199, 0.3), rgb(10, 90, 182)), url('./image/bg-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/*--------- End-------- */

/*--------- section-------- */

#about p {
    width: 400px;
}

#about .check {
    padding-right: 5px;
}

#about .text {
    width: 450px;
}

.vedio {
    width: 500px;
    height: 300px;
}

.start-60 {
    left: 70% !important;
    top: 60% !important;
}

#about .row {
    width: 400px;
}

/*--------- End-------- */

/*--------- Footer-------- */

footer .c-text {
    color: rgb(157, 167, 184);
    ;
}

/*--------- backgrond colors-------- */
.bg-gray {
    background-color: rgb(246, 247, 248);
}

.bg-light-blue {
    background-color: rgb(208, 225, 247);
}

/*--------- End backgrond colors-------- */

/*---------Style button-------- */
.btn {
    background-color: rgb(13, 110, 253);
    color: white;
    border-radius: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 0.5;
}

.btn:hover {
    color: rgb(13, 110, 253);
    background-color: rgb(192, 219, 231);
}

.btn-light {
    color: rgb(13, 110, 253);
    border-radius: 20px;
    border: 1px solid rgb(13, 110, 253);
    background-color: white;
    transition: 0.5;
}

.btn-light:hover {
    color: white;
    border-radius: 20px;
    border: 1px solid rgb(13, 110, 253);
    background-color: rgb(122, 172, 248);
}